<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>CSAtsume</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
 <script src="/static/javascrip.js"></script>
</head>

<body>
  {{t}}
  <div id="loading-screen">
    <img src="/static/img/loading.gif" alt="loading" title="CSAtsume">
  </div>
  <div id = "Button">
    <a href="http://www.nekoatsume.com/en/">
      <img src="/static/img/go_to_sleep.png" width="200" height="50">
    </a>
  </div>

  <div>
    <a href="catbook.html">
      <img id = "andy" src="/static/img/andy.png" id="Image1" width="300" height="300">
      <img id = "brendan" src="/static/img/brendan.png" width="300" height="300">
      <img id = "jordan" src="/static/img/jordan.png" width="300" height="300">
      <img id = "nick" src="/static/img/nick.png" width="300" height="300">
      <img id = "snow" src="/static/img/snow.png" width="300" height="300">
    </a>
  </div>
</body>
